.str-chat__message-reactions-container {
  margin-block-start: 8px;

  .str-chat__simple-reactions-list-item--last-number {
    display: unset;
  }

  ul.str-chat__simple-reactions-list {
    display: flex;
    align-items: center;

    width: fit-content;
    padding: 6px 6px 4px 6px;
  }

  .str-chat__simple-reactions-list-item span {
    display: flex;
    align-items: center;
  }

  .emoji-mart-emoji-custom span {
    width: 15px !important;
    height: 15px !important;
  }
}

.str-chat__reaction-selector {
  top: -60px;
  right: 0;
  left: unset;
}

.str-chat__reaction-selector .emoji-mart-emoji span {
  width: 24px !important;
  height: 24px !important;
}
