@use '../mixins/mixins.scss';

.str-chat__li {
  padding-inline: 0;
}

.str-chat__li--top,
.str-chat__li--single {
  padding-block-start: 12px;
}

.str-chat__li--bottom,
.str-chat__li--single {
  padding-block-end: 12px;
}

.str-chat__message {
  margin-block-end: 0;
}

.str-chat__message--deleted {
  display: flex;
  justify-content: center;
}

.str-chat__message-team-pin-indicator {
  display: flex;
  gap: 4px;
  align-items: center;

  height: 18px;
  padding-left: 72px;
}

.str-chat__message-team-status,
.str-chat__message-team--bottom time,
.str-chat__message-team--middle time {
  display: none;
}

.quoted-message {
  align-items: center;

  width: fit-content;
  padding-left: 5px;

  .str-chat__message-attachment img {
    padding-left: 0;

    border-left: 0;
  }
}

.str-chat__message-team {
  position: relative;

  display: flex;
  gap: 20px;

  padding: 5px 20px;

  &:hover {
    .str-chat__message-team-actions {
      visibility: visible;
    }
  }

  &.str-chat__message-team--editing {
    padding: 15px 20px;
  }

  &.str-chat__message-team--editing:not(
      .str-chat__message-team--top,
      .str-chat__message-team--single
    ) {
    padding-inline-start: 75px;
  }

  .avatar-host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .str-chat__message-team-group {
    position: relative;

    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;

    min-width: 0;

    .str-chat__message-team-meta {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;

      time {
        visibility: visible;
      }

      .str-chat__message-team-author {
        margin: 0 8px 0 0;
      }
    }

    .str-chat__message-team-content {
      position: relative;

      width: 100%;
      margin: 0 0;

      .str-chat__message-team-failed {
        display: flex;
        gap: 7px;
        align-items: center;

        margin: 5px 0;
        padding: 0;
      }
    }

    .str-chat__message-team-content blockquote {
      position: relative;

      margin: 0 0 0 5px;
      padding-left: 10px;

      &::before {
        content: '\201C';

        position: absolute;
        top: 2px;
        left: -5px;

        opacity: 0.5;
      }
    }

    .str-chat__message-team-content .str-chat__message-team-text p {
      margin: 0;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      word-break: break-word;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: pre-line;

      background: none;

      a {
        display: inline-block;
      }

      ul {
        margin: 0;
      }

      code {
        width: inherit;
        padding: 2px;

        word-break: break-all;
        white-space: pre-wrap;
      }

      pre {
        margin: 0 5px 0 0;
        padding: 10px;
      }
    }

    .str-chat__message-replies-count-button {
      display: flex;

      padding: 0 0 5px;
    }
  }
}

.str-chat__event-component__channel-event {
  display: flex;

  margin: 24px 40px;

  .str-chat__event-component__channel-event__content {
    margin-right: 8px;
  }

  .str-chat__event-component__channel-event__sentence {
    margin-right: 8px;
  }

  .str-chat__event-component__channel-event__date {
    margin-top: 4px;
  }
}
