@import '../mixins/mixins';

.str-chat {
  --str-chat__deleted-message-background-color: white;
}

.str-chat__message--deleted {
  .str-chat__message--deleted-inner {
    font-size: 12px;
  }
}

.str-chat__message-team--editing {
  background: var(--panel-secondary-background-color);
  box-shadow: 0 0 11px 0 rgb(0 0 0 / 6%), inset 0 1px 0 0 var(--primary-color),
    inset 0 -1px 0 0 var(--primary-color);

  .str-chat__message-input {
    background: var(--panel-secondary-background-color);
  }
}

.pinned-message {
  background: #e6efff;
}

.unpinned-message {
  background: var(--static-background-color);
}

.str-chat__message-team-pin-indicator {
  font-size: 10px;
  color: var(--text-low-emphasis-color);

  svg {
    fill: var(--text-low-emphasis-color);
  }
}

.quoted-message {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 15%);

  .quoted-message-inner {
    background: white;
  }
}

.str-chat__message-team-error-header {
  font-size: 10px;
  font-style: italic;
  color: rgb(0 0 0 / 40%);
  text-transform: none;
}

.str-chat__message-team {
  &:hover {
    background: var(--panel-secondary-background-color);
  }

  .str-chat__message-team-group {
    .str-chat__message-team-meta {
      font-size: 11px;

      time {
        color: var(--text-low-emphasis-color);
        text-transform: uppercase;
      }

      .str-chat__message-team-author {
        font-size: 13px;
        font-weight: var(--font-weight-medium);
        font-style: normal;
        line-height: 120%;
        color: var(--text-low-emphasis-color);
        text-transform: capitalize;
      }
    }

    .str-chat__message-team-content {
      font-size: 15px;
      font-weight: var(--font-weight-regular);
      line-height: 22px;
      color: var(--text-color);

      .str-chat__message-team-text--is-emoji {
        font-size: 32px;
        line-height: 42px;
      }

      .str-chat__message-team-failed {
        @include reset-button-style;

        cursor: pointer;

        font-size: var(--sm-font);
        color: var(--error-color);
      }
    }

    .str-chat__message-team-content blockquote {
      font-style: italic;

      &::before {
        font-size: 30px;
        font-style: italic;
      }
    }

    .str-chat__message-team-content .str-chat__message-team-text p {
      line-height: 120%;

      a {
        font-weight: var(--font-weight-bold);
        color: var(--primary-color);
        text-decoration: none;
      }

      code {
        border: 1px solid rgb(208 2 27 / 10%);
        border-radius: 3px;
      }

      pre,
      code {
        font-family: Monaco, monospace;
        font-size: 12px;
        font-weight: var(--font-weight-bold);
        line-height: inherit;

        background-color: #f8f8f8;
      }

      pre {
        border: 1px solid #d3d3d3;
        border-radius: 4px;
      }
    }

    .str-chat__message-replies-count-button {
      @include reset-button-style;

      cursor: pointer;

      font-size: 14px;
      font-weight: var(--font-weight-bold);
      line-height: 15px;
      color: var(--primary-color);
    }

    .str-chat__message-replies-count-button:focus {
      outline: none;
    }
  }
}

.str-chat__event-component__channel-event {
  .str-chat__event-component__channel-event__content {
    font-size: 16px;
    color: rgb(0 0 0 / 60%);
  }

  .str-chat__event-component__channel-event__sentence {
    font-size: 16px;
    color: rgb(0 0 0 / 60%);
  }

  .str-chat__event-component__channel-event__date {
    font-size: 10px;
  }
}
