.str-chat {
  --attachment-border: var(--border-stroke);
  --str-chat__audio-attachment-widget-border-block-start: var(--attachment-border);
  --str-chat__audio-attachment-widget-border-block-end: var(--attachment-border);
  --str-chat__audio-attachment-widget-border-inline-start: var(--attachment-border);
  --str-chat__audio-attachment-widget-border-inline-end: var(--attachment-border);
  --str-chat__file-attachment-border-block-start: var(--attachment-border);
  --str-chat__file-attachment-border-block-end: var(--attachment-border);
  --str-chat__file-attachment-border-inline-start: var(--attachment-border);
  --str-chat__file-attachment-border-inline-end: var(--attachment-border);
  --str-chat__card-attachment-background-color: transparent;
  --str-chat__card-attachment-border-radius: 16px;
  --str-chat__card-attachment-border-block-start: var(--attachment-border);
  --str-chat__card-attachment-border-block-end: var(--attachment-border);
  --str-chat__card-attachment-border-inline-start: var(--attachment-border);
  --str-chat__card-attachment-border-inline-end: var(--attachment-border);
}

.str-chat__gallery-placeholder {
  font-size: 16px;
}

.str-chat__message-attachment--card--actions {
  .str-chat__message-attachment-actions-button {
    border-bottom: none;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }

    &:hover {
      color: var(--primary-color);
    }

    &:active {
      color: white;

      background: var(--primary-color);

      transition: background-color 0.2s ease-out;
    }
  }
}

.str-chat__attachment-list {
  //   align-items: flex-start;

  .str-chat__message-attachment {
    max-width: 100%;
  }

  .str-chat__message-attachment--card--actions {
    overflow: hidden;
  }

  .str-chat__message-attachment-audio-widget {
    flex: 1 1 var(--str-chat__attachment-max-width);

    max-width: var(--str-chat__attachment-max-width);
  }

  .str-chat__message-attachment-card--text {
    display: none;
  }
}

.str-chat__attachment-list .str-chat__message-attachment--image,
.str-chat__attachment-list .str-chat__message-attachment-card--header,
.str-chat__attachment-list .str-chat__message-attachment--video {
  margin: 1px 0 0 0;

  border-radius: 15px 15px 0 0 !important;
}
