input[type='checkbox'] {
  display: grid;
  place-content: center;

  width: 1.4em;
  height: 1.4em;
  margin: 0;

  font: inherit;
  color: var(--text-low-emphasis-color);

  background-color: var(--static-background-color);
  border: 0.15em solid var(--text-low-emphasis-color);
  border-radius: 9999px;

  -webkit-appearance: none;
  appearance: none;
}

input[type='checkbox']::before {
  content: '';

  transform: scale(0);

  box-sizing: border-box;
  width: 0.8em;
  height: 0.8em;

  background-color: var(--primary-color);
  border-radius: 9999px;
  box-shadow: inset 1em 1em var(--primary-color);

  transition: 120ms transform ease-in-out;
}

input[type='checkbox']:checked::before {
  transform: scale(1);

  border-radius: 9999px;
}
