@layer default-chat-sdk {
  @import '~stream-chat-react/dist/scss/v2/index';
}
@import 'global_theme_elements';
@import 'global_theme_variables';
@import 'layout';
@import 'AdminPanel';
@import 'Attachment';
@import 'Message';
@import 'MessageActions';
@import 'MessageInput';
@import 'MessageList';
@import 'MessageReactions';
@import 'Thread';
@import 'UserList';

*::-webkit-scrollbar {
  width: 12px; /* Remove scrollbar space */
}

*::-webkit-scrollbar-track {
  background: rgb(241 241 241 / 32.2%);
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(131 131 131 / 47.5%);
  background-clip: padding-box;
  border: 4px solid rgb(0 0 0 / 0%);
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(89 55 55);
  background-color: #fff;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 9999px;
}
