@import '../mixins/mixins';

.str-chat__message-team-actions {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 100px;
  box-shadow: 0 2px 1px 0 rgb(0 0 0 / 7%);

  > span {
    cursor: pointer;

    svg {
      opacity: 0.5;

      fill: #000;
    }

    &:hover svg {
      opacity: 1;
    }
  }

  .str-chat__message-actions-box-button {
    @include reset-button-style;
  }

  .str-chat__message-actions-box {
    border-radius: 7px;
  }
}
