@import '../mixins/mixins';

// FIXME: hack: hide "Reply" action (see: https://github.com/GetStream/stream-chat-react/issues/1779)
.str-chat__thread-list .str-chat__message-actions-list button:first-child {
  display: none;
}

.str-chat__message-team-actions {
  position: absolute;
  z-index: 10;
  top: -12px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 75px;
  height: 24px;
  padding: 0 4px 0;

  visibility: hidden;

  > span {
    position: relative;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    height: 100%;

    text-align: center;
  }

  .str-chat__message-actions-box-button {
    display: flex;
    align-items: center;
  }

  .str-chat__message-actions-box {
    top: -10px;
    right: 100%;
    bottom: initial;
    left: initial;

    visibility: hidden;
  }

  .str-chat__message-actions-box--open {
    visibility: visible;
  }
}

.str-chat__thread-list {
  .str-chat__message-team-actions {
    width: 60px;
    min-width: unset;

    .str-chat__message-actions-box {
      top: initial;
      bottom: -10px;
    }
  }
}
