@import '../../../../../styles/mixins/mixins';

.team-channel-header__container {
  position: relative;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  min-height: var(--header-height);
  padding: 0 20px;

  color: white;

  background: #17212b;

  .workspace-header__block,
  .workspace-header__block-item {
    overflow-y: hidden;
    display: flex;
    gap: 10px;
    align-items: center;

    min-width: fit-content;
  }

  > .workspace-header__block:first-of-type {
    overflow-x: hidden;

    min-width: 0;
  }

  button {
    @include center-content;

    gap: 4px;
  }
}

.team-channel-header__name {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.team-channel-header__name.user {
  font-size: 14px;
}

.typing-indicator {
  position: absolute;
  bottom: 5px;
  left: 80px;

  width: 100%;
  height: 20px;

  background: transparent;
}

.str-chat__typing-indicator {
  font-size: 10px;
  color: white;

  background: transparent;
}

.str-chat__typing-indicator__dot {
  width: 3px;
  height: 3px;

  background: grey;
}
