@import '../mixins/mixins';

.admin-panel__form {
  .admin-panel__form-header {
    @include workspace-header-theme;
  }

  .admin-panel__form-footer {
    background: var(--panel-primary-background-color);
    border-bottom-right-radius: 16px;

    button {
      cursor: pointer;

      font: var(--font-weight-bold) 18px var(--font-family);
      color: var(--static-background-color);

      background: var(--primary-color);
      border: none;
      border-radius: 8px;
    }
  }

  .channel-name-input-field {
    h2 {
      font: var(--font-weight-regular) 16px;
    }

    input {
      font: 18px var(--font-family);

      background: var(--panel-primary-background-color);
      border: var(--border-stroke);
      border-radius: 8px;

      &::placeholder {
        font-weight: var(--font-weight-light);
        color: rgb(0 0 0 / 50%);
      }

      &:focus {
        border: 1px solid var(--primary-color);
        outline: none;
      }
    }
  }

  .admin-panel__form-validation-error {
    font-size: 14px;
    font-style: italic;
    color: var(--error-color);
  }
}
