@import '../mixins/mixins';

.admin-panel__form {
  display: flex;
  flex-direction: column;

  height: 100%;

  .admin-panel__form-header {
    @include workspace-header-layout;
  }

  .admin-panel__form-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 82px;
    padding: 1rem 0;

    button {
      margin-right: 30px;
      padding: 10px 20px;
    }
  }

  .channel-name-input-field {
    display: flex;
    flex-direction: column;

    height: 169px;
    padding-left: 20px;

    h2 {
      display: flex;
      gap: 10px;
      align-items: baseline;

      margin: 0;
      padding-block: 30px 16px;
    }

    input {
      width: 100%;
      max-width: 540px;
      height: 50px;
      padding-left: 16px;
    }
  }
}
