@import '../../../../../styles/mixins/mixins';

.admin-panel__form-header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  min-height: var(--header-height);
  padding: 0 10px 0 20px;

  background: #17212b;
  border-bottom: var(--border-stroke);

  .workspace-header__title,
  .workspace-header__subtitle {
    white-space: nowrap;
  }

  .workspace-header__title {
    font: var(--header-title-text);
    color: white;
  }

  .workspace-header__subtitle {
    font: var(--header-subtitle-text);
    color: white;
  }
}
