.str-chat__edit-message-form {
  .str-chat__message-input {
    padding-inline: 0;
  }

  .str-chat__file-input-container,
  .str-chat__emoji-picker-button {
    display: none;
  }

  .str-chat__message-textarea-with-emoji-picker {
    padding: 0;
  }

  .str-chat__message-textarea-container {
    overflow: hidden;

    border: 1px solid var(--primary-color);

    &:focus-within {
      border-width: 2px;
    }
  }

  .str-chat__message-textarea-react-host {
    position: static;

    .str-chat__suggestion-list-container {
      bottom: 85%;
      left: 0;

      width: 100%;
    }
  }

  .str-chat__edit-message-cancel {
    color: rgb(0 0 0 / 33%);
  }

  .str-chat__edit-message-cancel,
  .str-chat__edit-message-send {
    font-weight: var(--font-weight-bold);
    text-transform: none;
  }
}
