textarea {
  resize: none;

  width: 100%;
  padding: 16px 10px;
}

.str-chat__textarea {
  flex: 1 1;

  height: auto;
}

.message-input__controls-button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 100%;

  svg {
    width: 30px;
  }
}

.str-chat__dropzone-container {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.giphy-icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 63px;
  height: 24px;
  margin-left: 8px;
}

.rfu-image-previewer {
  flex: none;

  margin-left: 12px;
}

.rfu-image-previewer__image {
  margin-bottom: 0;
}
