@import '../mixins/mixins';

.team-message-input__wrapper {
  @include message-input__wrapper;

  position: relative;

  flex-direction: column;

  background: var(--panel-primary-background-color);

  .team-message-input__input {
    @include message-input__input;

    .team-message-input__bottom {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      width: 100%;
      height: 40px;

      background: rgb(0 0 0 / 5%);
    }

    .team-message-input__top {
      width: 100%;
      min-height: 43px;

      background: white;

      .team-message-input__form {
        display: flex;
        align-items: center;

        padding-right: 10px;

        .str-chat__send-button {
          display: flex;
          align-items: center;

          padding: 10px;

          svg {
            width: calc(var(--str-chat__spacing-px) * 20);
            height: calc(var(--str-chat__spacing-px) * 20);
          }
        }

        .str-chat__suggestion-list-container {
          right: 20px;
          bottom: 85%;
          left: 20px;

          width: unset;
        }
      }
    }
  }

  .str-chat__input--emojipicker {
    position: absolute;
    z-index: 3;
    bottom: 112px;
    left: 20px;

    width: 338px;
  }
}

.team-message-input__input .message-input__controls-button:first-of-type {
  border-right: 1px solid rgb(204 204 204 / 50%);
}
