@import '../mixins/mixins';

.thread-message-input__wrapper {
  @include message-input__wrapper;

  align-items: center;
}

.thread-message-input__input {
  @include message-input__input;
  $send-button-width: 40px;
  $input-min-height: 50px;
  // hack to make the send button occupy the entire parent height (1)
  position: relative;

  overflow: unset;
  display: flex;
  align-items: center;

  min-height: $input-min-height;
  padding-right: $send-button-width;

  .str-chat__suggestion-list-container {
    z-index: 1;
    bottom: 90%;
  }

  .thread-message-input__send-button {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    // hack to make the send button occupy the entire parent height (2)
    width: $send-button-width;
    height: 100%;
  }

  .message-input__controls-button {
    min-height: $input-min-height;
  }
}
